<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information Dev</title>
</head>
<body>
    <h1>User Information Dev</h1>
    <ul>
        <li>Username: <%= userinfo.username %></li>
        <li>Email: <%= userinfo.email %></li>
        <li>Package: <%= packagename %></li>
        <li>Coins: <%= coins %></li>
        <li>Extra Resources:
            <ul>
                <li>RAM: <%= extraresources.ram %></li>
                <li>Disk: <%= extraresources.disk %></li>
                <li>CPU: <%= extraresources.cpu %></li>
                <li>Servers: <%= extraresources.servers %></li>
            </ul>
        </li>
        <li>Package Resources:
          <ul>
              <li>RAM: <%= packages.ram %></li>
              <li>Disk: <%= packages.disk %></li>
              <li>CPU: <%= packages.cpu %></li>
              <li>Servers: <%= packages.servers %></li>
          </ul>
      </li>
        <li>Total Resources (Package + Extra):
            <ul>
                <li>RAM: <%= parseInt(packages.ram) + parseInt(extraresources.ram) %></li>
                <li>Disk: <%= parseInt(packages.disk) + parseInt(extraresources.disk) %></li>
                <li>CPU: <%= parseInt(packages.cpu) + parseInt(extraresources.cpu) %></li>
                <li>Servers: <%= parseInt(packages.servers) + parseInt(extraresources.servers) %></li>
            </ul>
        </li>
        <li>Other Information:
          <ul>
            <li>theme: <%= theme %></li>
          </ul>
        </li>
    </ul>
</body>
</html>
